#content > * {
  @apply font-baijamjuree;
}

/* Headings */

#content h2 {
  @apply text-display-sm font-semibold font-sarabun;
  @apply mb-8;
}

#content h2:not(:first-child) {
  @apply mt-12;
}

#content h3 {
  @apply text-display-xs font-semibold font-sarabun;
  @apply mt-8 mb-6;
}

/* Paragraphs */

#content p {
  @apply text-text-secondary text-lg font-baijamjuree;
  @apply tracking-[0.16px];
  @apply mb-6;
}

/* Expressive Code */
#content .expressive-code {
  @apply mb-6;
}

/* Images */

#content > p > img,
#content .img img {
  /* for a normal image/figure in blog */
  @apply mt-12 pb-3 mx-auto;
}

#content .img > p {
  @apply text-md text-text-quaternary font-baijamjuree text-center italic;
  @apply mb-12;
}

#content a img {
  /* for a favicon preview in link */
  @apply my-0;
}

/* Lists */

#content ul {
  @apply list-disc pl-8;
  @apply mb-8;
  @apply text-lg font-baijamjuree;
  @apply leading-8;
}

#content ol {
  @apply list-decimal pl-8;
  @apply mb-8;
  @apply text-lg font-baijamjuree;
  @apply leading-8;
}

#content li {
  @apply font-baijamjuree text-text-secondary;
  @apply mb-4;
}

/* Table */

#content .table {
  @apply grid grid-flow-col gap-x-0 overflow-x-auto w-fit max-w-full;
}

#content .table.table-2d {
  @apply grid-flow-row;

  .row {
    @apply grid grid-flow-col gap-x-0;

    .cell {
      @apply h-full aspect-square;
    }
  }
}

#content .caption {
  @apply text-text-tertiary text-md font-baijamjuree;
  @apply mt-2 mb-4;
}

#content .table .cell {
  @apply text-text-tertiary font-baijamjuree leading-none text-center grid place-items-center;
  @apply border border-solid border-text-tertiary rounded;
  @apply min-w-8 min-h-8 h-fit text-xl;
  @apply md:min-w-12 md:h-12 md:text-display-xs;
  @apply py-1 px-1.5 md:p-2.5;
  @apply text-nowrap;

  --sky-dark: 17, 65, 76;
  --sky-light: 193, 238, 248;
  --green-dark: 52, 74, 46;
  --green-light: 223, 241, 223;
  --orange-dark: 112, 64, 20;
  --orange-light: 254, 223, 194;
  --purple-dark: 69, 44, 102;
  --purple-light: 222, 214, 233;
  --disabled: 141, 141, 141;

  --green-bold: #54714c;
  --sky-bold: #277181;
  --orange-bold: #b6671c;
  --purple-bold: #765e97;
}

#content .table .cell.cell--empty {
  @apply border-none;
}

#content .table .cell.cell--pastel-green {
  background-color: rgba(var(--green-light), var(--tw-bg-opacity));
  color: rgba(var(--green-dark), var(--tw-bg-opacity));
  border-color: rgba(var(--green-dark), var(--tw-bg-opacity));
}

.dark #content .table .cell.cell--pastel-green {
  border-color: rgba(var(--green-light), var(--tw-bg-opacity));
  background-color: rgba(var(--green-dark), var(--tw-bg-opacity));
  color: rgba(var(--green-light), var(--tw-bg-opacity));
}

#content .table .cell.cell--pastel-sky {
  background-color: rgba(var(--sky-light), var(--tw-bg-opacity));
  color: rgba(var(--sky-dark), var(--tw-bg-opacity));
  border-color: rgba(var(--sky-dark), var(--tw-bg-opacity));
}

.dark #content .table .cell.cell--pastel-sky {
  border-color: rgba(var(--sky-light), var(--tw-bg-opacity));
  background-color: rgba(var(--sky-dark), var(--tw-bg-opacity));
  color: rgba(var(--sky-light), var(--tw-bg-opacity));
}

#content .table .cell.cell--pastel-orange {
  background-color: rgba(var(--orange-light), var(--tw-bg-opacity));
  color: rgba(var(--orange-dark), var(--tw-bg-opacity));
  border-color: rgba(var(--orange-dark), var(--tw-bg-opacity));
}

.dark #content .table .cell.cell--pastel-orange {
  border-color: rgba(var(--orange-light), var(--tw-bg-opacity));
  background-color: rgba(var(--orange-dark), var(--tw-bg-opacity));
  color: rgba(var(--orange-light), var(--tw-bg-opacity));
}

#content .table .cell.cell--pastel-purple {
  background-color: rgba(var(--purple-light), var(--tw-bg-opacity));
  color: rgba(var(--purple-dark), var(--tw-bg-opacity));
  border-color: rgba(var(--purple-dark), var(--tw-bg-opacity));
}

.dark #content .table .cell.cell--pastel-purple {
  border-color: rgba(var(--purple-light), var(--tw-bg-opacity));
  background-color: rgba(var(--purple-dark), var(--tw-bg-opacity));
  color: rgba(var(--purple-light), var(--tw-bg-opacity));
}

#content .table .cell.cell--green {
  @apply font-semibold bg-opacity-80;
  border-color: rgba(var(--green-light), var(--tw-bg-opacity));
  background-color: rgba(var(--green-dark), var(--tw-bg-opacity));
  color: #fff;
}

.dark #content .table .cell.cell--green {
  background-color: rgba(var(--green-light), var(--tw-bg-opacity));
  color: rgba(var(--green-dark), var(--tw-bg-opacity));
  border-color: rgba(var(--green-light), var(--tw-bg-opacity));
}
#content .table .cell.cell--sky {
  @apply font-semibold bg-opacity-80;
  border-color: rgba(var(--sky-light), var(--tw-bg-opacity));
  background-color: rgba(var(--sky-dark), var(--tw-bg-opacity));
  color: rgba(var(--sky-light), var(--tw-bg-opacity));
  color: #fff;
}
.dark #content .table .cell.cell--sky {
  background-color: rgba(var(--sky-light), var(--tw-bg-opacity));
  color: rgba(var(--sky-dark), var(--tw-bg-opacity));
  border-color: rgba(var(--sky-light), var(--tw-bg-opacity));
}

#content .table .cell.cell--orange {
  @apply font-semibold bg-opacity-80;
  border-color: rgba(var(--orange-light), var(--tw-bg-opacity));
  background-color: rgba(var(--orange-dark), var(--tw-bg-opacity));
  color: rgba(var(--orange-light), var(--tw-bg-opacity));
  color: #fff;
}

.dark #content .table .cell.cell--orange {
  background-color: rgba(var(--orange-light), var(--tw-bg-opacity));
  color: rgba(var(--orange-dark), var(--tw-bg-opacity));
  border-color: rgba(var(--orange-light), var(--tw-bg-opacity));
}
#content .table .cell.cell--purple {
  @apply font-semibold bg-opacity-80;
  border-color: rgba(var(--purple-light), var(--tw-bg-opacity));
  background-color: rgba(var(--purple-dark), var(--tw-bg-opacity));
  color: rgba(var(--purple-light), var(--tw-bg-opacity));
  color: #fff;
}
.dark #content .table .cell.cell--purple {
  background-color: rgba(var(--purple-light), var(--tw-bg-opacity));
  color: rgba(var(--purple-dark), var(--tw-bg-opacity));
  border-color: rgba(var(--purple-light), var(--tw-bg-opacity));
}

#content .table .cell.cell--disabled {
  @apply bg-opacity-50;
  background-color: rgba(var(--disabled), var(--tw-bg-opacity));
  color: rgba(var(--disabled), var(--tw-bg-opacity));
  border-color: rgba(var(--disabled), var(--tw-bg-opacity));
}

/* Blockquote */

#content blockquote {
  @apply mx-8;
}

#content blockquote p {
  @apply text-text-secondary text-display-xs font-serif text-center;
  @apply tracking-[0.16px];
  @apply mt-8 mb-16;
}

#content blockquote p span,
#content blockquote p cite,
#content blockquote span,
#content blockquote cite {
  @apply block text-right mt-2;
  @apply text-text-quaternary text-md;
}

/* Toggle */

#content details {
  @apply my-6;
}

#content details summary {
  @apply text-text-primary text-lg font-baijamjuree;
  @apply my-6;
}

#content details > *:not(summary) {
  @apply text-text-secondary text-lg font-baijamjuree;
  @apply my-2 ml-8;
}

/* Code */

#content > code,
#content li > code,
#content p > code {
  @apply bg-bg-tertiary text-text-brand-tertiary;
  @apply rounded px-2.5 py-0.5;
}

/* Links */

#content a {
  @apply text-utility-brand-600 hover:underline font-semibold;
}

#content .inline-link {
  @apply inline-flex gap-x-2 items-end px-2 pl-10 relative;
}

#content > .inline-link {
  @apply my-6;
}

#content .block-link {
  @apply my-3 block font-sans p-4 w-full;
  @apply border border-solid border-border-secondary hover:bg-bg-secondary;
  @apply rounded-lg;
  @apply max-w-screen-md;
  @apply hover:no-underline;
}

#content .block-link .link-title {
  @apply text-lg text-text-primary font-normal truncate;
  @apply block w-full;
}

#content .block-link:hover .link-title {
  @apply underline;
}

#content .block-link .link-desc {
  @apply flex gap-x-2 items-center;
}

#content .block-link .ref {
  @apply text-md font-normal;
  @apply block truncate;
}

/* Math Katex */

#content .katex {
  overflow-x: auto;
  @apply text-text-secondary;
}

/* Table Markdown */

#content table {
  @apply border-2 border-solid border-border-primary relative;
  @apply mb-7;
  @apply w-fit max-w-fit text-nowrap whitespace-nowrap;
  @apply overflow-x-hidden;
  font-family: monospace, monospace;
}

#content div table {
  @apply relative;
}

#content table th {
  @apply bg-bg-secondary text-text-primary font-semibold;
  @apply border-2 border-solid border-border-primary;
  @apply py-1.5 px-4;
  @apply text-lg;
}

#content table .sample-input td {
  @apply border border-r-2;
}

#content table td {
  @apply text-text-tertiary;
  @apply border-r-2 border-solid border-border-primary;
  @apply py-1.5 px-4;
  @apply text-lg;
}

#content hr {
  width: 50%;
  @apply mx-auto my-20;
}

/* Callout */
#content .callout {
  @apply p-3 bg-bg-tertiary text-text-secondary text-lg font-baijamjuree;
  @apply rounded-md mb-16 mt-8;
  @apply flex flex-col items-start gap-4;
}

#content .callout p {
  @apply my-0;
}

#content .callout {
  &.aside-success {
    @apply bg-bg-brand-primary;

    .icon-wrapper {
      @apply bg-bg-primary;
      @apply text-utility-brand-600;
    }
  }

  &.aside-warning {
    @apply bg-utility-warning-50;

    .icon-wrapper {
      @apply bg-bg-primary;
      @apply text-utility-warning-600;
    }
  }

  &.aside-danger {
    @apply bg-utility-error-50;

    .icon-wrapper {
      @apply bg-bg-primary;
      @apply text-utility-error-600;
    }
  }
  &.aside-info {
    @apply bg-utility-blue-light-50;

    .icon-wrapper {
      @apply bg-bg-primary;
      @apply text-utility-blue-light-600;
    }
  }
}

.dark #content .callout {
  &.aside-success {
    @apply bg-bg-primary;
    @apply border border-utility-brand-700;

    .icon-wrapper {
      @apply bg-utility-brand-100;
      @apply text-utility-brand-800;
    }
  }

  &.aside-warning {
    @apply bg-bg-primary;
    @apply border border-utility-warning-800;

    .icon-wrapper {
      @apply bg-utility-warning-100;
      @apply text-utility-warning-800;
    }
  }

  &.aside-danger {
    @apply bg-bg-primary;
    @apply border border-utility-error-800;

    .icon-wrapper {
      @apply bg-utility-error-100;
      @apply text-utility-error-800;
    }
  }
  &.aside-info {
    @apply bg-bg-primary;
    @apply border border-utility-blue-light-800;

    .icon-wrapper {
      @apply bg-utility-blue-light-100;
      @apply text-utility-blue-light-900;
    }
  }
}

/* Themeflip Text */
#content .theme-block {
  @apply text-text-secondary text-lg font-baijamjuree;
  @apply opacity-0 hidden;

  &.theme-light:not(:is(.dark *)) {
    @apply opacity-100 block;
  }

  &.theme-dark:is(.dark *) {
    @apply opacity-100 block;
  }
}
