@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "./colors.css";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 400px;
  --breakpoint-md: 768px;
  --breakpoint-ipad: 1080px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;

  --font-*: initial;
  --font-baijamjuree: "Bai-jamjuree", Sarabun, sans-serif;
  --font-kanit: Kanit, sans-serif;
  --font-sans: Noto-sans-thai, sans-serif;
  --font-serif: "Noto serif thai", sans-serif;

  --text-*: initial;
  --text-display-2xl: 4.5rem;
  --text-display-2xl--line-height: 5.625rem;
  --text-display-2xl--tracking: -2%;
  --text-display-xl: 3.75rem;
  --text-display-xl--line-height: 4.5rem;
  --text-display-xl--tracking: -2%;
  --text-display-lg: 3rem;
  --text-display-lg--line-height: 3.75rem;
  --text-display-lg--tracking: -2%;
  --text-display-md: 2.25rem;
  --text-display-md--line-height: 2.75rem;
  --text-display-md--tracking: -2%;
  --text-display-sm: 1.875rem;
  --text-display-sm--line-height: 2.375rem;
  --text-display-xs: 1.5rem;
  --text-display-xs--line-height: 2rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.875rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-md: 1rem;
  --text-md--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.125rem;

  --color-*: initial;
  --color-text-primary: rgba(var(--text-primary), 1);
  --color-text-primary_on-brand: rgba(var(--text-primary_on-brand), 1);
  --color-text-secondary: rgba(var(--text-secondary), 1);
  --color-text-secondary_hover: rgba(var(--text-secondary_hover), 1);
  --color-text-secondary_on-brand: rgba(var(--text-secondary_on-brand), 1);
  --color-text-tertiary: rgba(var(--text-tertiary), 1);
  --color-text-tertiary_hover: rgba(var(--text-tertiary_hover), 1);
  --color-text-tertiary_on-brand: rgba(var(--text-tertiary_on-brand), 1);
  --color-text-quaternary: rgba(var(--text-quaternary), 1);
  --color-text-quaternary_on-brand: rgba(var(--text-quaternary_on-brand), 1);
  --color-text-disabled: rgba(var(--text-disabled), 1);
  --color-text-placeholder: rgba(var(--text-placeholder), 1);
  --color-text-placeholder_subtle: rgba(var(--text-placeholder_subtle), 1);

  --color-text-brand-primary: rgba(var(--text-brand-primary), 1);
  --color-text-brand-secondary: rgba(var(--text-brand-secondary), 1);
  --color-text-brand-tertiary: rgba(var(--text-brand-tertiary), 1);
  --color-text-brand-tertiary_alt: rgba(var(--text-brand-tertiary_alt), 1);

  --color-text-success: rgba(var(--text-success-primary), 1);
  --color-text-warning: rgba(var(--text-warning-primary), 1);
  --color-text-error: rgba(var(--text-error-primary), 1);
  --color-text-white: rgba(var(--text-white), 1);

  --color-border-primary: rgba(var(--border-primary), 1);
  --color-border-secondary: rgba(var(--border-secondary), 1);
  --color-border-tertiary: rgba(var(--border-tertiary), 1);
  --color-border-disabled: rgba(var(--border-disabled), 1);

  --color-border-brand-solid: rgba(var(--border-brand-solid), 1);
  --color-border-brand-solid_alt: rgba(var(--border-brand-solid_alt), 1);
  --color-border-brand-brand: rgba(var(--border-brand), 1);

  --color-border-error: rgba(var(--border-error), 1);

  --color-border-icon-modern: rgba(var(--icon-modern-border), 1);

  --color-bg-primary: rgba(var(--bg-primary), 1);
  --color-bg-primary-solid: rgba(var(--bg-primary-solid), 1);
  --color-bg-primary_hover: rgba(var(--bg-primary_hover), 1);
  --color-bg-secondary: rgba(var(--bg-secondary), 1);
  --color-bg-secondary_hover: rgba(var(--bg-secondary_hover), 1);
  --color-bg-tertiary: rgba(var(--bg-tertiary), 1);

  --color-bg-error-primary: rgba(var(--bg-error-primary), 1);
  --color-bg-error-secondary: rgba(var(--bg-error-secondary), 1);
  --color-bg-error-solid: rgba(var(--bg-error-solid), 1);

  --color-bg-success-primary: rgba(var(--bg-success-primary), 1);
  --color-bg-success-secondary: rgba(var(--bg-success-secondary), 1);
  --color-bg-success-solid: rgba(var(--bg-success-solid), 1);

  --color-bg-warning-primary: rgba(var(--bg-warning-primary), 1);
  --color-bg-warning-secondary: rgba(var(--bg-warning-secondary), 1);
  --color-bg-warning-solid: rgba(var(--bg-warning-solid), 1);

  --color-bg-brand-primary: rgba(var(--bg-brand-primary), 1);
  --color-bg-brand-secondary: rgba(var(--bg-brand-secondary), 1);

  --color-fg-brand-primary: rgba(var(--fg-brand-primary), 1);
  --color-fg-brand-primary_alt: rgba(var(--fg-brand-primary_alt), 1);
  --color-fg-brand-secondary: rgba(var(--fg-brand-secondary), 1);

  --color-fg-disabled: rgba(var(--fg-disabled), 1);
  --color-fg-disabled_subtle: rgba(var(--fg-disabled_subtle), 1);

  --color-fg-error-primary: rgba(var(--fg-error-primary), 1);
  --color-fg-error-secondary: rgba(var(--fg-error-secondary), 1);

  --color-fg-primary: rgba(var(--fg-primary), 1);
  --color-fg-quaternary: rgba(var(--fg-quaternary), 1);
  --color-fg-quaternary_hover: rgba(var(--fg-quaternary_hover), 1);
  --color-fg-quinary: rgba(var(--fg-quinary), 1);
  --color-fg-quinary_hover: rgba(var(--fg-quinary_hover), 1);
  --color-fg-secondary: rgba(var(--fg-secondary), 1);
  --color-fg-secondary_hover: rgba(var(--fg-secondary_hover), 1);
  --color-fg-senary: rgba(var(--fg-senary), 1);

  --color-fg-success-primary: rgba(var(--fg-success-primary), 1);
  --color-fg-success-secondary: rgba(var(--fg-success-secondary), 1);

  --color-fg-tertiary: rgba(var(--fg-tertiary), 1);
  --color-fg-tertiary_hover: rgba(var(--fg-tertiary_hover), 1);

  --color-fg-warning-primary: rgba(var(--fg-warning-primary), 1);
  --color-fg-warning-secondary: rgba(var(--fg-warning-secondary), 1);

  --color-fg-white: rgba(var(--fg-white), 1);

  --color-nav-item-button-icon-fg: rgba(var(--nav-item-button-icon-fg), 1);
  --color-nav-item-button-icon-fg_active: rgba(
    var(--nav-item-button-icon-fg_active),
    1
  );

  --color-nav-item-icon-fg: rgba(var(--nav-item-icon-fg), 1);
  --color-nav-item-icon-fg_active: rgba(var(--nav-item-icon-fg_active), 1);

  --color-button-primary-bg: rgba(var(--button-primary-bg), 1);
  --color-button-primary-bg_hover: rgba(var(--button-primary-bg_hover), 1);
  --color-button-primary-border: rgba(var(--button-primary-border), 1);
  --color-button-primary-border_hover: rgba(
    var(--button-primary-border_hover),
    1
  );
  --color-button-primary-fg: rgba(var(--button-primary-fg), 1);
  --color-button-primary-fg_hover: rgba(var(--button-primary-fg_hover), 1);

  --color-button-primary-error-bg: rgba(var(--button-primary-error-bg), 1);
  --color-button-primary-error-bg_hover: rgba(
    var(--button-primary-error-bg_hover),
    1
  );
  --color-button-primary-error-border: rgba(
    var(--button-primary-error-border),
    1
  );
  --color-button-primary-error-border_hover: rgba(
    var(--button-primary-error-border_hover),
    1
  );
  --color-button-primary-error-fg: rgba(var(--button-primary-error-fg), 1);
  --color-button-primary-error-fg_hover: rgba(
    var(--button-primary-error-fg_hover),
    1
  );

  --color-button-secondary-bg: rgba(var(--button-secondary-bg), 1);
  --color-button-secondary-bg_hover: rgba(var(--button-secondary-bg_hover), 1);
  --color-button-secondary-border: rgba(var(--button-secondary-border), 1);
  --color-button-secondary-border_hover: rgba(
    var(--button-secondary-border_hover),
    1
  );
  --color-button-secondary-fg: rgba(var(--button-secondary-fg), 1);
  --color-button-secondary-fg_hover: rgba(var(--button-secondary-fg_hover), 1);

  --color-button-secondary-color-bg: rgba(var(--button-secondary-color-bg), 1);
  --color-button-secondary-color-bg_hover: rgba(
    var(--button-secondary-color-bg_hover),
    1
  );
  --color-button-secondary-color-border: rgba(
    var(--button-secondary-color-border),
    1
  );
  --color-button-secondary-color-border_hover: rgba(
    var(--button-secondary-color-border_hover),
    1
  );
  --color-button-secondary-color-fg: rgba(var(--button-secondary-color-fg), 1);
  --color-button-secondary-color-fg_hover: rgba(
    var(--button-secondary-color-fg_hover),
    1
  );

  --color-button-secondary-error-bg: rgba(var(--button-secondary-error-bg), 1);
  --color-button-secondary-error-bg_hover: rgba(
    var(--button-secondary-error-bg_hover),
    1
  );
  --color-button-secondary-error-border: rgba(
    var(--button-secondary-error-border),
    1
  );
  --color-button-secondary-error-border_hover: rgba(
    var(--button-secondary-error-border_hover),
    1
  );
  --color-button-secondary-error-fg: rgba(var(--button-secondary-error-fg), 1);
  --color-button-secondary-error-fg_hover: rgba(
    var(--button-secondary-error-fg_hover),
    1
  );

  --color-button-tertiary-bg_hover: rgba(var(--button-tertiary-bg_hover), 1);
  --color-button-tertiary-fg: rgba(var(--button-tertiary-fg), 1);
  --color-button-tertiary-fg_hover: rgba(var(--button-tertiary-fg_hover), 1);

  --color-button-tertiary-color-bg_hover: rgba(
    var(--button-tertiary-color-bg_hover),
    1
  );
  --color-button-tertiary-color-fg: rgba(var(--button-tertiary-color-fg), 1);
  --color-button-tertiary-color-fg_hover: rgba(
    var(--button-tertiary-color-fg_hover),
    1
  );

  --color-button-tertiary-error-bg_hover: rgba(
    var(--button-tertiary-error-bg_hover),
    1
  );
  --color-button-tertiary-error-fg: rgba(var(--button-tertiary-error-fg), 1);
  --color-button-tertiary-error-fg_hover: rgba(
    var(--button-tertiary-error-fg_hover),
    1
  );

  --color-footer-badge-bg: rgba(var(--footer-badge-bg), 1);
  --color-footer-badge-border: rgba(var(--footer-badge-border), 1);
  --color-footer-badge-fg: rgba(var(--footer-badge-fg), 1);

  --color-footer-button-fg: rgba(var(--footer-button-fg), 1);
  --color-footer-button-fg_hover: rgba(var(--footer-button-fg_hover), 1);

  --color-header-abstract-50-bg: rgba(var(--header-abstract-50-bg), 1);

  --color-header-abstract-100-bg: rgba(var(--header-abstract-100-bg), 1);

  --color-header-abstract-200-bg: rgba(var(--header-abstract-200-bg), 1);

  --color-header-abstract-300-bg: rgba(var(--header-abstract-300-bg), 1);

  --color-utility-brand-50: rgba(var(--utility-brand-50), 1);
  --color-utility-brand-100: rgba(var(--utility-brand-100), 1);
  --color-utility-brand-200: rgba(var(--utility-brand-200), 1);
  --color-utility-brand-300: rgba(var(--utility-brand-300), 1);
  --color-utility-brand-400: rgba(var(--utility-brand-400), 1);
  --color-utility-brand-500: rgba(var(--utility-brand-500), 1);
  --color-utility-brand-600: rgba(var(--utility-brand-600), 1);
  --color-utility-brand-700: rgba(var(--utility-brand-700), 1);
  --color-utility-brand-800: rgba(var(--utility-brand-800), 1);
  --color-utility-brand-900: rgba(var(--utility-brand-900), 1);
  --color-utility-brand-100_alt: rgba(var(--utility-brand-100_alt), 1);
  --color-utility-brand-200_alt: rgba(var(--utility-brand-200_alt), 1);
  --color-utility-brand-300_alt: rgba(var(--utility-brand-300_alt), 1);
  --color-utility-brand-400_alt: rgba(var(--utility-brand-400_alt), 1);
  --color-utility-brand-500_alt: rgba(var(--utility-brand-500_alt), 1);
  --color-utility-brand-50_alt: rgba(var(--utility-brand-50_alt), 1);
  --color-utility-brand-600_alt: rgba(var(--utility-brand-600_alt), 1);
  --color-utility-brand-700_alt: rgba(var(--utility-brand-700_alt), 1);
  --color-utility-brand-800_alt: rgba(var(--utility-brand-800_alt), 1);
  --color-utility-brand-900_alt: rgba(var(--utility-brand-900_alt), 1);

  --color-utility-error-50: rgba(var(--utility-error-50), 1);
  --color-utility-error-100: rgba(var(--utility-error-100), 1);
  --color-utility-error-200: rgba(var(--utility-error-200), 1);
  --color-utility-error-300: rgba(var(--utility-error-300), 1);
  --color-utility-error-400: rgba(var(--utility-error-400), 1);
  --color-utility-error-500: rgba(var(--utility-error-500), 1);
  --color-utility-error-600: rgba(var(--utility-error-600), 1);
  --color-utility-error-700: rgba(var(--utility-error-700), 1);
  --color-utility-error-800: rgba(var(--utility-error-800), 1);
  --color-utility-error-900: rgba(var(--utility-error-900), 1);
  --color-utility-error-950: rgba(var(--utility-error-950), 1);

  --color-utility-gray-50: rgba(var(--utility-gray-50), 1);
  --color-utility-gray-100: rgba(var(--utility-gray-100), 1);
  --color-utility-gray-200: rgba(var(--utility-gray-200), 1);
  --color-utility-gray-300: rgba(var(--utility-gray-300), 1);
  --color-utility-gray-400: rgba(var(--utility-gray-400), 1);
  --color-utility-gray-500: rgba(var(--utility-gray-500), 1);
  --color-utility-gray-600: rgba(var(--utility-gray-600), 1);
  --color-utility-gray-700: rgba(var(--utility-gray-700), 1);
  --color-utility-gray-800: rgba(var(--utility-gray-800), 1);
  --color-utility-gray-900: rgba(var(--utility-gray-900), 1);

  --color-utility-success-50: rgba(var(--utility-success-50), 1);
  --color-utility-success-100: rgba(var(--utility-success-100), 1);
  --color-utility-success-200: rgba(var(--utility-success-200), 1);
  --color-utility-success-300: rgba(var(--utility-success-300), 1);
  --color-utility-success-400: rgba(var(--utility-success-400), 1);
  --color-utility-success-500: rgba(var(--utility-success-500), 1);
  --color-utility-success-600: rgba(var(--utility-success-600), 1);
  --color-utility-success-700: rgba(var(--utility-success-700), 1);

  --color-utility-warning-50: rgba(var(--utility-warning-50), 1);
  --color-utility-warning-100: rgba(var(--utility-warning-100), 1);
  --color-utility-warning-200: rgba(var(--utility-warning-200), 1);
  --color-utility-warning-300: rgba(var(--utility-warning-300), 1);
  --color-utility-warning-400: rgba(var(--utility-warning-400), 1);
  --color-utility-warning-500: rgba(var(--utility-warning-500), 1);
  --color-utility-warning-600: rgba(var(--utility-warning-600), 1);
  --color-utility-warning-700: rgba(var(--utility-warning-700), 1);
  --color-utility-warning-800: rgba(var(--utility-warning-800), 1);
  --color-utility-warning-900: rgba(var(--utility-warning-900), 1);
  --color-utility-warning-950: rgba(var(--utility-warning-950), 1);

  --color-utility-blue-light-50: rgba(var(--utility-blue-light-50), 1);
  --color-utility-blue-light-100: rgba(var(--utility-blue-light-100), 1);
  --color-utility-blue-light-200: rgba(var(--utility-blue-light-200), 1);
  --color-utility-blue-light-300: rgba(var(--utility-blue-light-300), 1);
  --color-utility-blue-light-400: rgba(var(--utility-blue-light-400), 1);
  --color-utility-blue-light-500: rgba(var(--utility-blue-light-500), 1);
  --color-utility-blue-light-600: rgba(var(--utility-blue-light-600), 1);
  --color-utility-blue-light-700: rgba(var(--utility-blue-light-700), 1);
  --color-utility-blue-light-800: rgba(var(--utility-blue-light-800), 1);
  --color-utility-blue-light-900: rgba(var(--utility-blue-light-900), 1);

  --color-featured-icon-light-fg-brand: rgba(
    var(--featured-icon-light-fg-brand),
    1
  );

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
    font-size: inherit;
  }
}

@utility scrollable-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 0;
  max-height: 100%;
  overflow: auto;
  outline: none;
}

@utility lesson-scroll-area {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

@utility custom-select {
  & select {
    @apply appearance-none w-full border border-border-primary text-text-primary py-2.5 px-3.5 rounded-lg leading-tight focus:outline-hidden;
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility hidden {
  display: none;
}

@layer base {
  html {
    height: 100%;
  }

  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-drag: none;
    touch-action: manipulation;
    word-wrap: break-word;
    word-break: break-word;
    overscroll-behavior-y: none;
    text-size-adjust: none;
  }
}
