---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { getLanguageFromURL, useUIStrings } from "@/utils/uiTranslation";

const lang = getLanguageFromURL(Astro.url);
const t = useUIStrings(lang);
---

<BaseLayout>
  <section class="flex gap-2">
    <div>
      <h1 class="text-display-xl font-bold font-kanit">{t("common.name")}</h1>
      <p class="text-md font-baijamjuree">{t("common.short-bio")}</p>
    </div>
    <div>
      <img src="" alt="" />
    </div>
  </section>
</BaseLayout>
