---
import Nav from "@/components/common/Nav.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <body>
    <Nav />
    <main id="main-content" tabindex="-1">
      <!-- <h1>Phon1209</h1> -->
      <a href="/">test link</a>
    </main>
    <footer></footer>
  </body>
</BaseLayout>
