---
import { getLanguageFromURL, useMetadata } from "@/utils/uiTranslation";
import BaseHead from "../components/base/BaseHeading.astro";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/common/Footer.astro";
import Nav from "@/components/common/Nav.astro";

export type Meta = {
  title: string;
  description: string;
};

type Props = {
  meta?: Meta;
};

const metaTranslation = useMetadata(getLanguageFromURL(Astro.url));
const defaultMeta: Meta = {
  title: metaTranslation("title"),
  description: metaTranslation("description"),
};

const { meta = defaultMeta } = Astro.props;
const { title, description } = meta;
const image = metaTranslation("ogImage");
---

<!doctype html>
<html lang="th" class="bg-bg-primary">
  <head>
    <BaseHead {title} {description} {image} />
    <ClientRouter />
  </head>
  <body>
    <Nav />
    <main
      id="main-content"
      class="max-w-(--breakpoint-xl) px-8 grow flex flex-col"
      tabindex="-1"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > * {
      width: 100%;
      margin-inline: auto;
    }
  }
</style>
